html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--mont);
}

:root {

    /* font sizes */
    --base: 1rem;
    --h5: 1.33rem;
    --h3: 2.37rem;
    --h2: 3.15rem;
    --h1: 4.2rem;

    /* Colors */
    --background: #fff;
    --text-25: #c4c7c9;
    --text-50: #898e93;
    --text-75: #50575e;
    --text: #151f28;
    --primary: #ff7f11;
    --style: rgba(255, 127, 17, 0.07);
    --text-new: #080606;

    /* Gaps */
    --start-point: 10vw;
    --bghome-start: 24.65rem;
    --bg-start2: 16rem;

    /* Paddings */
    --padding-2xs: 1.3125rem;
    --padding-3xs: 1.875rem;
    --padding-sm: 1.5rem;

    /* border radiuses */
    --br-xs: .75rem;

    /* Effects */
    --drop-mini: 1px 1px 40px #ffdaba;
    --drop: 4px 4px 50px #ffdaba;
}

::placeholder {
    color: var(--text-25);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





@media screen and (max-width: 480px) {
    html {
        font-size: 90%;
    }
    :root {
        --start-point: 2rem;
        --bghome-start: 26rem;
        --padding-2xs: 1.15rem;
        --padding-3xs: 1.25rem;
    }
}

@media screen and (max-width: 585px) {
    :root {
        --bg-start2: 16rem;
    }
}

@media screen and (max-width: 406px) {
    :root {
        --bghome-start: 26rem;
        --bg-start2: 19.25rem;
    }
}

@media screen and (max-width: 394px) {
    :root {
        --bghome-start: 27.25rem;
    }
  }