.problemSection {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 3.75rem;
  column-gap: 3rem;
  row-gap: 2.5rem;
}
.item,
.cartItem {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  border-radius: 1rem;
  color: var(--text-75);
  background-color: var(--background);
  transition: .2s ease-in-out;
}
.cartItem {
  background-color: var(--primary);
  color: var(--background);
  box-shadow: var(--drop-mini);
}
.item:hover,
.nextButton:hover {
  transform: scale(1.01);
  box-shadow: var(--drop-mini);
}
.item:active,
.nextButton:active {
  transform: scale(1);
}
.innerItem {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
}
.itemIcon {
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
}
.itemName {
  font-size: var(--h5);
  font-weight: 500;
}
.nextButton {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}
.buttonIcon {
  color: var(--background);
  width: 1.625rem;
  height: 1.625rem;
}




@media screen and (max-width: 768px) {
  .problemSection {
    flex-direction: column;
    /* flex-wrap: nowrap; */
  }
}