.searchBar {
  position: relative;
  margin-top: 6rem;
  z-index: 1;
  border-radius: var(--br-xs);
  background-color: var(--background);
  box-shadow: var(--drop);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBar input {
  border: 0;
  outline: none;
  width: 100%;
  padding: var(--padding-2xs) var(--padding-3xs);
  border-radius: var(--br-xs);
  font-size: var(--h5);
  color: var(--text-75);
  font-family: var(--noto);
}
.searchButton {
  position: relative;
  cursor: pointer;
  padding: var(--padding-2xs) var(--padding-3xs);
  border-bottom-right-radius: var(--br-xs);
  border-top-right-radius: var(--br-xs);
  transition: .2s ease-in-out;
}
.searchIcon {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  color: #FFAD66;
  overflow: hidden;
}
.searchButton:hover {
  background-color: var(--style);
}
.results {
  position: absolute;
  top: -13rem;
  width: 40%;
  height: 12rem;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: var(--drop);
  border-radius: var(--br-xs);
  background-color: var(--background);
}
.results::-webkit-scrollbar {
  display: none;
}
.item {
  display: flex;
  height: 1rem;
  padding: 1rem;
  align-items: center;
  font-size: var(--base);
  font-family: var(--noto);
  color: var(--text-75);
  transition: .2s ease-in-out;
}
.item:hover {
  color: var(--primary);
  background-color: var(--style);
}



@media (max-width: 480px) {
  .searchBar {
    margin-top: 20vw;
  }
  .results {
    width: 100%;
  }
  .item {
    font-size: var(--h5);
  }
}