.fillDetailsSection {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 3.75rem;
    column-gap: 6rem;
    row-gap: 3rem;
}
.field {
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: var(--h5);
}
.fieldName {
    position: relative;
    font-weight: 700;
    color: var(--text);
}
.fieldInput {
    position: relative;
    border: 0;
    outline: none;
    width: 20rem;
    margin-top: 1.5rem;
    padding: 1rem var(--padding-sm);
    border-radius: var(--br-xs);
    font-size: var(--base);
    font-family: var(--noto);
    box-shadow: var(--drop-mini);
    appearance: none;
    color: var(--text);
    background-color: var(--background);
    transition: .1s ease-in-out;
}
.pickup {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 23rem;
    margin-top: 1.5rem;
    border-radius: var(--br-xs);
    justify-content: space-between;
    box-shadow: var(--drop-mini);
    background-color: var(--background);
}
.pickupText {
    width: 100%;
    margin-left: var(--padding-sm);
    font-size: var(--base);
    font-family: var(--noto);
    color: var(--text-75);
}
.downButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-sm);
    padding-left: var(--padding-sm);
    border-top-right-radius: var(--br-xs);
    border-bottom-right-radius: var(--br-xs);
}
.downButton:hover {
    background-color: var(--style);
}
.downButtonIcon {
    width: 1.35rem;
    height: 1.35rem;
    color: var(--text-75);
}
.results {
    position: absolute;
    z-index: 1;
    bottom: -12.75rem;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: var(--drop);
    border-radius: var(--br-xs);
    background-color: var(--background);
}
.item {
    display: flex;
    cursor: pointer;
    height: 1rem;
    padding: 1rem;
    align-items: center;
    font-size: var(--base);
    font-family: var(--noto);
    color: var(--text-75);
    transition: .1s ease-in-out;
}
.item:hover {
    color: var(--primary);
    background-color: var(--style);
}
.buttonsSection {
    display: flex;
    position: relative;
    margin-top: 3.75rem;
    column-gap: 2.5rem;
}
.prevButton,
.nextButton {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    margin-left: .25rem;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: var(--primary);
    transition: .1s ease-in-out;
}
.prevButton {
    margin-left: 0;
    margin-right: .25rem;
    background-color: var(--background);
}
.loading,
.prevButtonIcon,
.nextButtonIcon {
    color: var(--background);
    width: 1.85rem;
    height: 1.85rem;
}
.prevButtonIcon {
    color: var(--primary);
}
.prevButton:hover,
.nextButton:hover {
    transform: scale(1.01);
    box-shadow: var(--drop-mini);
}
.prevButton:active,
.nextButton:active {
    transform: scale(1);
}
.loading {
    animation: rotation .75s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}





@media screen and (max-width: 480px) {
    .fillDetailsSection {
        flex-direction: column;
    }
    .fieldInput {
        width: calc(100% - var(--start-point) - .5rem);
        padding: var(--padding-2xs) var(--padding-3xs);
        font-size: var(--h5);
    }
    .pickup {
        width: 100%;
    }
    .pickupText {
        margin: var(--padding-2xs) var(--padding-3xs);
        font-size: var(--h5);
    }
    .item {
        font-size: var(--h5);
    }
}
