.window {
  position: relative;
  top: 0;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.rec1 {
  position: absolute;
  top: -2.25rem;
  left: 0;
  width: 13.33vw;
  height: 10rem;
  background-color: var(--style);
}
.rec2 {
  position: absolute;
  top: 7.75rem;
  left: 0;
  width: 100%;
  height: 4.875rem;
  background-color: var(--style);
}
.alertIcon,
.penIcon {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  top: 3.8rem;
  left: 6.6vw;
  color: var(--style);
}
.penIcon {
  top: 4.25rem;
  left: 7.5vw;
}
.headline {
  position: relative;
  margin: 0 0 0 var(--start-point);
  color: var(-text);
  font-size: var(--h3);
}
.wrapper {
  padding: 0 var(--start-point) 2.25rem var(--start-point);
  background-color: var(--style);
}





@media screen and (max-width: 480px) {
  .rec1 {
    width: 21vw;
  }
  .headline {
    margin-right: var(--start-point);
  }
}

@media screen and (max-width: 442px) {
  .rec2 {
    height: 7.777rem;
  }
}